body{
    margin: 0;
    font-family: sans-serif;
}
.strong{
    font-weight: 700;
}
/* --- --- --- --- --- --- --- --- --- --- --- */
/* --- hero --- */
/* --- --- --- --- --- --- --- --- --- --- --- */
.hero-container{
    height: 110vh;
    width: 100vw;
    background: url('../img/header.jpeg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.hero-center{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.hero-title{
    font-family: 'Raleway';
    font-size: 15vw;
    color: #FFF;
    overflow: hidden;
}
.hero-desc{
    font-family: 'Raleway';
    font-weight: 300;
    color: #FFF;
    font-size: 26px;
}
.hero-desc > span{
    display: inline-block;
    min-height: 25px;
}
.hero-desc > .hero-cursor::after{
    content: ' ';
    display: inline-block;
    height: 30px;
    margin: 0 0 -6px 2px;
    width: 2px;
    background: #FFF;
}
.hero-desc > .hide::after .hero-desc > .hero-cursor::after{
    opacity: 0;
}
.hero-highlight{
    background: rgba(164, 205, 255, 0.5);
    /*color: #2A3A3F;*/
}
.hero-heart{
    font-size: 0.7em;
    padding: 5px;
    color: #FF4B3B;
}
.hero-curve{
    position: absolute;
    bottom: 0;
    left: -1%;
    width: 102%;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 31px 0 30px #FACE8C;
    background-color: none;
}
.hero-down{
    display: inline-block;
    margin: 13vh 0 0 0;
    color: #FFF;
    border: 2px solid #FFF;
    width: 50px;
    height: 50px;
    line-height: 53px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}

.nav-container{
    /*width: 100%;*/
    position: absolute;
    top: 0;
    left: 0;
}
.nav-button{
    list-style: none;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Raleway';
    color: #FFF;
    font-size: 18px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 3px 5px;
    margin: 0 10px;
    border-radius: 3px;
    /*border-bottom: 3px solid rgba(0, 0, 0, 0);*/
}
.nav-button:hover{
    background: #FFF;
    color: #97A5C7;
    /*border-bottom: 3px solid #FFF;*/
}
.projects-container{
    background:#FACE8C;
    padding: 100px 0;
}
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/* -- Footer -- */
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
.footer-container{
    width: 100%;
    padding: 50px 0;
    background: #223540;
    color: #BBB;
    font-weight: 200;
    font-family: 'Raleway';
    text-align: center;
}
.footer-contact-list{
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}
.footer-contact-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1B2A33;
    margin: 5px;
    line-height: 43px;
    cursor: pointer;
}
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/* -- Font -- */
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

@font-face {
    font-family: 'function';
    font-weight: 400;
    src: url('../fonts/function.woff');
}


@font-face {
    font-family: 'Raleway';
    font-weight: 300;
    src: url('../fonts/Raleway/Raleway-Light.ttf');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url('../fonts/Raleway/Raleway-Bold.ttf');
}


@font-face {
    font-family: 'themify';
    font-weight: 700;
    src: url('../fonts/themify.ttf');
}
@font-face {
    font-family: 'Bebas Neue';
    font-weight: 700;
    src: url('../fonts/bebas_neue/BebasNeue.otf');
}
